<mat-toolbar class="example-toolbar mat-elevation-z4">
  <button (click)="opened=!opened" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>MySQL</span>
  <span class="example-spacer">
    <div class="address-bar">
      <mat-icon>public_off</mat-icon>
      mysql:/{{router.url}}
    </div>
  </span>
  <button [class.mat-warn]="btn.active" *ngFor="let btn of purser.buttons" (click)="btn.action()" mat-icon-button class="example-icon">
    <mat-icon>{{btn.icon}}</mat-icon>
  </button>
</mat-toolbar>



<mat-drawer-container class="example-container" [class.open]="opened">
  <mat-drawer mode="side" [opened]="opened">
    <div class="app-connection-nav" app-connection-nav>
      connection nav will go here
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

 